<div class="container">
    <h2>Edit Your Details</h2>
    <form action="#">
        <div class="user-details">
            <div class="left-section">
                <div class="input-box">
                    <span class="detail-name">First Name</span>
                    <input class="detail-value" type="text" placeholder="Enter your first name" >
                </div>
                <div class="input-box">
                    <span class="detail-name">Last Name</span>
                    <input class="detail-value" type="text" placeholder="Enter your last name" >
                </div>
                <div class="input-box">
                    <span class="detail-name">Email</span>
                    <input class="detail-value" type="text" placeholder="Enter your email" >
                </div>
            </div>
            <div class="right-section">
                <div class="input-box">
                    <span class="detail-name">Id</span>
                    <input class="detail-value" type="text" placeholder="Enter your ID number" >
                </div>
                <div class="input-box">
                    <span class="detail-name">Password</span>
                    <input class="detail-value" type="text" placeholder="Enter your password" >
                </div>
                <div class="button">
                    <input type="submit" value="Edit">
                </div>
            </div>
        </div>
    </form>
</div>