<app-navbar></app-navbar>
<div class="user-details-section">
    <div class="user-details" *ngIf="!editMode">
        <div class="left-section">
            <label *ngIf="student">User Id: {{student.userId}}</label>
            <label *ngIf="student">First Name : {{student.first_name}}</label>
            <label *ngIf="student">Last Name : {{student.last_name}}</label>    
        </div>
        <div class="right-section">
            <label *ngIf="student">Email : {{student.email}}</label>
            <label *ngIf="student">Password : {{student.password}}</label>
            <div class="button">
                <button mat-raised-button color="accent" (click)="toggleEditMode()">Edit</button>
            </div>
        </div>
    </div>
    <app-edit-user [student]="student" *ngIf="editMode" (event)="receiveMessageEdit($event)"></app-edit-user>
</div>
<div class="course-table-section">
    <app-course-table class="data-grid"></app-course-table>
</div>