
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

body , html{
    width: 100%;
    height: 100%;
    display: block;
}

app-root ,app-courses{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex: 1 1 0;
}

app-login{
    align-self: center;
}

